vsphere_user            = "your_vsphere_user"
vsphere_password        = "your_vsphere_password"
vsphere_server          = "your_vsphere_server"
datacenter              = "your_datacenter_name"
datastore               = "your_datastore"
host                    = "your vsphere host IP"
local_host              = "your local IP"
network                 = "your_network"
vm_name                 = "dc01"
iso_path                = "[datastore] isos/Windows_Server_2019.iso"
vm_fqdn                 = "dc01.example.com"
vm_expected_ip          = "192.168.1.100"
domain_name             = "example.com"
iso_path_is_datastore   = true
vm_admin_user           = "Administrator"
vm_admin_password       = "P@ssw0rd!"